  .icon:hover + .tooltip-content {
  display: block;
}

.tooltip-content {
  background-color: black;
  color: white;
  padding: 10px;
  display: none;
}

.icon {
	position: absolute;
	top: -5px; right: -50px;
}

.tooltip {
	position: absolute;
	top: 30px; right: 550px;
}
